/* https://create-react-app.dev/docs/adding-css-reset */
@import-normalize;

:root {
  --text-color: #222;
  --brand-primary: #fc0;
  --brand-primary-dark: #e4c02f;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

body {
  margin: 1rem;
}

header,
main {
  max-width: 77rem; /* 77rem = ~1200px */
  margin: auto;
}

img {
  max-width: 100%;
}

a,
button {
  transition: 0.2s ease-in-out;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  min-height: 3em;
}

/* https://github.com/twbs/bootstrap/blob/1df098361cac04217d6a464c80e890c4335ecb5c/scss/mixins/_visually-hidden.scss */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

h1,
.h1 {
  font-size: 4rem;
  font-weight: bold;
}

label {
  display: block;
}

input {
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.4;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

input + label {
  margin-top: 1rem;
}

button {
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 0.5em 0.75em;
}

.button--primary {
  background-color: var(--brand-primary);
}

.button--primary:hover,
.button--primary:focus {
  background-color: var(--brand-primary-dark);
}

fieldset + button {
  margin-top: 1rem;
}

.auth-page {
  margin-bottom: 2.5rem;
}

.auth-page form {
  margin-bottom: 1rem;
}
